{% extends "base.html" %}


{% block content %}
<!--Content-->
<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top py-2">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">Rhino</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse text-light">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Head</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Audio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Пошук</button>
      </form>
    </div>
  </div>
</nav>
<div class="container d-flex flex-column content">
  <div>
    <br/>
    <br/>
    <br/>
    <ul class="kroha  text-light">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li>Data</li>
    </ul>
  </div>
  <div class="m-2 mt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim excepturi accusantium nihil eveniet eos. Neque,
  voluptate architecto voluptates saepe explicabo quisquam, minima temporibus a dolorum iusto, maxime dolore ipsum
  quam!
  теж не вдалися. </div>
<div class="d-flex justify-content-center">
  <pre class="pt-3 w-75"><code class="language-python border border-info rounded">fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.add(tuple(more_fruits))
if 5 > 2:
  print("Five is greater than two!")
</code></pre>
</div>
<div class="m-2">Quae doloremque consectetur est dicta modi voluptatum eum facere voluptates magni odit nisi earum omnis vitae magnam
    officiis error la
</div>
<div>
    <div class="d-flex justify-content-around m-2 flex-wrap h-100">
       <div class="card border-info m-2">
          <div class="bg-info card-header">
            Audio
          </div>
          <div class="card-body">
            <h5 class="card-title">a busy street</h5>
            <hr/>
            <p class="card-text">жвава вулиця
            </p>
          </div>
          <div class="bg-secondary card-footer">
            <audio id="sound1" src="static/audio/a busy street.mp3" preload="auto"></audio>
            <button type="button" class="pa btn btn-outline-info" onClick="togglePlay(audio1, '.p1')"><svg width="32" height="32" fill="currentColor" class="bi" viewBox="0 0 16 16"><use xlink:href="#svgplay"/></svg></button>
          </div>
        </div>
      <div class="card border-info m-2">
          <div class="bg-info card-header">
            Audio
          </div>
          <div class="card-body">
            <h5 class="card-title">a busy town</h5>
            <hr/>
            <p class="card-text">багатолюдне мiсто
            </p>
            </div>
            <div class="bg-secondary card-footer">
              <audio id="sound2" src="static/audio/a busy town.mp3" preload="auto"> </audio>
            <button type="button" class="pb btn btn-outline-info" onClick="togglePlay(audio2, '.p2')"><svg width="32" height="32" fill="currentColor" class="bi" viewBox="0 0 16 16"><use xlink:href="#svgplay"/></svg></button>  
            </div>
          </div>
        <div class="card border-info m-2">
          <div class="bg-info card-header">
            Audio
          </div>
          <div class="card-body">
            <h5 class="card-title">a can of coca-cola</h5>
            <hr/>
            <p class="card-text">банка кока-коли</p>
            </div>
            <div class="bg-secondary card-footer">
              <audio id="sound3" src="static/audio/a can of coca-cola.mp3" preload="auto"> </audio>
            <button type="button" class="pc btn btn-outline-info" onClick="togglePlay(audio3, '.p3')"><svg width="32" height="32" fill="currentColor" class="bi" viewBox="0 0 16 16"><use xlink:href="#svgplay"/></svg></button>  
            </div>
      </div>
    </div>
  </div>
<div class="m-2">
Quae doloremque consectetur est dicta modi voluptatum eum facere voluptates magni odit nisi earum omnis vitae magnam
officiis error laborum mollitia enim ipsa maiores, tenetur at asperiores perferendis quas! Cumque.
Adipisci ut doloribus deleniti aspernatur saepe ducimus sapiente harum obcaecati dicta itaque ad officia assumenda
voluptas nulla quae sequi, aliquid provident, dignissimos accusantium porro fuga exercitationem ratione. Sequi,
pariatur quis.
</div>
<div class="container d-flex justify-content-center">
<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link border-info text-light bg-dark fs-5" href="#" aria-label="Previous"><span aria-hidden="true"> &laquo; </span></a></li>
    <li class="page-item"><a class="page-link border-info text-light bg-dark fs-5" href="#"> 1 </a></li>
    <li class="page-item"><a class="page-link border-info text-light bg-dark fs-5" href="#"> 2 </a></li>
    <li class="page-item"><a class="page-link border-info text-light bg-dark fs-5" href="#"> 3 </a></li>
    <li class="page-item"><a class="page-link border-info text-light bg-dark fs-5" href="#" aria-label="Next"><span aria-hidden="true"> &raquo; </span></a></li>
  </ul>
</nav>
</div>
</div>

<!---->
{% endblock %}